<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        * {
            padding: 0%;
            margin: 0%;
        }

        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: whitesmoke;
        }

        #container {
            position: fixed;
            top: 20%;
            left: 35%;
            width: 410px;
            height: 350px;
            background-color: whitesmoke;
            border: 1px solid black;
            border-radius: 10px;
        }

        #container h1 {
            color: steelblue;
            text-align: left;
            margin: .5vh 3vw;
        }

        form {
            margin-top: 1vh;
            justify-content: space-between;
            text-align: center;
            align-items: center;
            background-color: whitesmoke;
        }

        form h3 {
            color: grey;
            justify-content: left;
            text-align: left;
            align-items: start;
            margin-left: 3vw;
            font-weight: 500;
        }

        input {
            border: 1px solid #423f3f;
            padding: 6px;
            margin: 0.5vh 1.5vw;
            font-size: 16px;
            width: 310px;
            border: 1px solid slategray;
            border-radius: 10px;
        }

        input::placeholder {
            text-align: center;
        }
        #togglePassword {
            position: absolute;
            right: 49px;
            top: 215px;
            cursor: pointer;
        }
        button {
            width: 100px;
            display: block;
            margin: 2.5vh 12vw;
            font-size: larger;
            border-radius: 10px;
            padding: 10px;
            cursor: pointer;
            border: 1px solid black;
            background-color: rgb(114, 157, 200);
        }

        button:hover {
            background-color: rgb(185, 179, 229);
        }

        form a {
            text-decoration: none;
            color: gray;
            font-size: 18px;

        }

        form a span {
            color: black;
            font-weight: 400;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <div id="container">
        <h1>Sign-Up</h1>
        <form method="POST" action="/user">
            <h3>Full Name</h3> <!-- below name should match to the models/Schema detals.  -->
            <input type="string" required name="name" placeholder="Enter Your Name">
            <h3>Email</h3>
            <input type="string" required name="email" placeholder="example@gmail.com">
            <h3>Password</h3>
            <input type="string" id="passwordInput" required name="password" placeholder="Password in digits">
            <i class="fa-solid fa-eye" id="togglePassword"></i>
            <button type="submit">Create</button>
            <a href="/login">Already have account? <span> Log-In</span></a>
        </form>
    </div>
</body>
<script>
 const passwordInput = document.getElementById('passwordInput');
const togglePassword = document.getElementById('togglePassword');

togglePassword.addEventListener('click', function() {
  if (passwordInput.type === 'password') {
    passwordInput.type = 'text';
    togglePassword.classList.add('fa-eye-slash');
  } else {
    passwordInput.type = 'password';
    togglePassword.classList.remove('fa-eye-slash');
  }
});
</script>
</html>