<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
</head>
<body>
    <h1>SignUp</h1>
    <form method="post" action="/user">
        <label>Full Name</label>  <!--  below name should match to the models/Schema detals. -->
        <input type="text" required name="name" placeholder="Enter Your Name">
        <label>Email</label>
        <input type="text" required name="email" placeholder="example@gmail.com">
        <label>Password</label>
        <input type="text" required name="password" placeholder="Password">
        <button type="submit">SignUp</button>
    </form>
</body>
</html>